<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/users" method="post">
        Your Name: <input type="text" name="Name"><br>
        Age: <input type="text" name="Age"><br>
        <input type="submit" value='SUBMIT'>
    </form>
    <% if (users) { %>
        <% for (var i =0; i < users.length; i ++) { %>
            <p>Name: <%= users[i].name%></p>
        <% } %>
    <% } %>
</body>
</