<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/survey" method="post">
        Your Name: <input type="text" name="Name"><br>
        Dojo Location: <select name="Location">
            <option value="San Jose">San Jose</option>
            <option value="Seattle">Seattle</option>
            <option value="Chicago">Chicago</option>
            <option value="Online">Online</option>
          </select><br>
        Favorite Language: <select name="Language">
            <option value="Python">Python</option>
            <option value="C#">C#</option>
            <option value="MEAN">MEAN</option>
            <option value="Big_3">Big 3</option>
          </select><br>
        Comments: <input type="text" name="Comments"><br>
        <input type="submit" value='SUBMIT'>
    </form>
</body>
</html>