<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Submitted Info:</h1>
    <p><%= results.Name %></p>
    <p><%= results.Language %></p>
    <p><%= results.Location %></p>
    <p><%= results.Comments %></p>

    <form action="/back" method="post">
        <input type="submit" value='SUBMIT'>
    </form>

</body>
</html>