<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1><%=animal.name %></h1>
    <h2><%=animal.type %></h2>
    <form action="/back" method="post">
        <input type="submit" value='Home'>
    </form>
    <a href="update/<%=animal._id%>">Change</a>
    <a href="delete/<%=animal._id%>">Delete</a>
</body>
</html>