<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Updating <%=animal.name %></h1>
    <form action="/change" method="post">
        Type: <input type="text" name="Type"><br>
        Name: <input type="text" name="Name"><br>
        <input hidden value ="<%=animal.id %>" name="thisanimal">
        <input type="submit" value='SUBMIT'>
    </form>
</body>
</html>